

#dog {
  background-color: red;
  width: 30%;
  padding: 1%;
  float: left;
  border-radius: 10px;
  font-style: italic;
}

#cat {
  background-color: yellow;
  width: 30%;
  padding: 1%;
  float: left;
  font-family: sans-serif;
}

#bunny {
  background-color: green;
  width: 30%;
  padding: 1%;
  float: left;
}

.animals img {
  width: 90%;
  border-radius: 10px;
}

.animals p {
  font-family: fantasy;
}









@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
